@charset "utf-8";
h2 {
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	background-color: rgba(140, 140, 140, 0.5);
	background-image: url("contentTexture.png");
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 25px;
	float: none;
	text-align: center;
}
.ticketshopimg {
	float: right;
	margin-top: -27px;
}
.contentheading2 {
	float: center;
	background-color: #4F4F4F;
	width: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 5px;
	text-transform: capitalize;
	padding-left: 10px;
	padding-right: 10px;
	border: medium solid #000000;
	font-weight: bold;
	font-size: small;
	border-radius: 10px;
	text-align: center;
}
h4 {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: arial;
	letter-spacing: 5px;
	text-transform: capitalize;
	padding-left: 10px;
	padding-right: 10px;
	border: medium solid #0F0F0F;
	font-size: small;
	background-color: #2E2A2A;
	font-style: italic;
}
h3 {
	background-color: #E4A70F;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	border: medium solid #41A7F1;
	margin-top: 34px;
}
.maincontent {
	float: left;
	width: 970px;
	text-align: center;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: rgba(140, 140, 140, 0.5);
	background-image: url("contentTexture.png");
	border-radius: 10px;
	border: thin solid #CBA400;
	font-family: arial;
	font-size: medium;
	display: inline-block;
	margin-bottom: 10px;
}
.maincontent img {
	width: 200px;
	height: 150px;
	float: left;
	padding-right: 10px;
}
