@charset "UTF-8";

div.content{
    float: left;
	height: auto;
	width: 980px;
	background-color: rgba(140, 140, 140, 0.5);
	background-image: url("contentTexture.png");
	margin: 10px;
	border-radius: 10px;
    border: solid thin black;
}
div.content h2{
    height: 40px;
	width: 980px;
	background-color: rgba(140, 140, 140, 0.5);
    font-family: Tahoma;
	text-align: center;
    margin: auto;
}
div.content h3{
    height: 30px;
	width: 980px;
	background-color: rgba(140, 140, 140, 0.5);
    font-family: Tahoma;
	text-align: center;
}
div.content p{
    font-family: arial;
	text-align: justify;
	width: 800px;
    margin: auto;
}
div.content a{
    text-decoration: underline;
    font-weight: bold;
}
div.content table{
    width: 800px;
}
div.content td{
    font-family: arial;
	text-align: justify;
    margin: auto;
    padding: 10px
}
table{
    margin: auto;
}
td.left{
    text-align: right;
}
td.right{
    text-align: left;
}
h1{
    margin: 10px 10px 10px 10px;
	border-radius: 10px;
    background-color: rgba(140, 140, 140, 0.5);
    background-image: url("contentTexture.png");
    font-family: Tahoma;
	text-align: center;
}
div.events{
    float: left;
	height: auto;
	width: 980px;
	background-color: rgba(140, 140, 140, 0.5);
	background-image: url("contentTexture.png");
	margin: 10px;
	border-radius: 10px;
    border: solid thin black;
}
div.events h2{
    width: 400px;
	background-color: rgba(140, 140, 140, 0.5);
    font-family: Tahoma;
	text-align: center;
    margin: auto;
}
div.events h3{
	background-color: rgba(140, 140, 140, 0.5);
    font-family: Tahoma;
	text-align: center;
}
div.events p{
    width: 400px;
    font-family: arial;
	text-align: justify;
    margin: auto;
}
div.events a{
    text-decoration: underline;
    font-weight: bold;
}
div.events img{
    width: 300px;
    max-height: 300px;
}
div.events td{
    font-family: arial;
	text-align: justify;
    margin: auto;
    padding: 10px
}
div.events td.left{
    text-align: right;
    width: 300px;
}
div.events td.right{
    text-align: left;
    width: 400px;
}